@using MoviePlatform.Entities
@model MoviePlatform.ViewModels.Favourite.IndexVM
@{
    this.ViewData["title"] = "Favourites";
    this.Layout = "/Views/Shared/_Layout.cshtml";
}


<form class="d-flex mt-3" role="search" action="/Favourites/Index">
    @Html.HiddenFor(m => m.Pager.ItemsPerPage)
    @Html.TextBoxFor(m=> m.Filter.Title , new{placeholder = "Search by Title", @class = "form-control me-2"})
    <button class="btn btn-outline-success" type="submit" value="Filter">Search</button>
</form>

<a class="btn btn-success mt-3" href="/Movies/Index">Expore more movies</a>


<div class="container mt-4">
    <div class="row">
    @foreach (Movie item in Model.Items)
    {
        string more = item.Title;
        string redirect = "http://www.google.co.uk/search?hl=en&q=" + more + "&meta=";

        <div class="col-md-3 mb-4">
            <div class="card" style="width: 16rem;">
                <img src="/images/moviesImage/@item.imageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Duration: @item.Duration min.</h6>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Actors:
                        @if (item.Actors != null)
                        {
                            @foreach (Actor actor in item.Actors)
                            {
                                <span>@actor.Name|</span>
                            }
                        }
                    </h6>
                    <p class="card-text">@item.Description</p>

                    <a href="@redirect" class="btn mr-2"><i class="fas fa-link"></i> See More</a>
                        <a href="/Favourites/DeleteFromFavourite?id=@item.Id" class="btn "><i class="fa fa-heart"></i>Remove from favourite</a>
                </div>
            </div>
        </div>
    }
</div>
        


    <div class="row pager">
        <div class="col-3">
            @{
                Html.RenderPartial("/Views/Partial/PagerPartial.cshtml", Model.Pager);
            }
        </div>
    </div>

</div>








