@model MoviePlatform.ViewModels.Users.RegistrationVM
@{
    ViewData["title"] = "Registration";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center text-dark mt-5">Sign Up</h2>
            <div class="text-center mb-5 text-dark">Join us for better experience!</div>
            <div class="card my-5">

                <form class="card-body cardbody-color p-lg-5 " action="/Home/Registration" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="text-center">
                        <img src="/images/rabbit.jpg" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                             width="200px" alt="profile">
                    </div>

                    <div class="mb-3">
                        
                        @Html.TextBoxFor(m => m.FirstName , new {@Class = "form-control",@Placeholder="First Name"})
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </div>
                    <div class="mb-3">
                        @Html.TextBoxFor(m => m.LastName , new {@Class = "form-control",@Placeholder="Last Name" })
                        @Html.ValidationMessageFor(m => m.LastName)
                    </div>
                    <div class="mb-3">
                        @Html.TextBoxFor(m => m.Username , new {@Class = "form-control",@Placeholder="Username" })
                        @Html.ValidationMessageFor(m => m.Username)
                    </div>
                    <div class="mb-3">
                        @Html.PasswordFor(m => m.Password , new {@Class = "form-control",@Placeholder="Password" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="text-center"><button type="submit" value="Save" class="btn btn-color px-5 mb-5 w-100" href="/Home/Index">Register now</button></div>
                    <div id="emailHelp" class="form-text text-center mb-5 text-dark">
                        Already
                        Registered? <a href="/Home/Login" class="text-dark fw-bold">
                            Sign In
                        </a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>